<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge"/>
      <title>Audero LSG by Aurelio De Rosa</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <style>
         *,
         *:before,
         *:after
         {
            box-sizing: border-box;
         }

         .clearfix:before,
         .clearfix:after {
            content: " ";
            display: table;
         }

         .clearfix:after
         {
            clear: both;
         }

         body
         {
            font-size: 18px;
            margin: auto;
            max-width: 800px;
         }

         .list-reset
         {
            list-style: none;
            margin: 0;
            padding: 0;
         }

         .color
         {
            float: left;
            margin-right: 1%;
            width: 24%;
         }

         .color__name
         {
            text-align: center;
         }

         .color__value
         {
            border: 1px solid #000000;
            height: 100px;
         }
      </style>
   </head>
   <body>
      <h1>Living style guide</h1>

      {{{body}}}
   </body>
</html>